In [357]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [358]:
# Import the three excel files to Dataframe
portfolio = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Portfolio_At_Risk_Report-10.xlsx')
expected = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Expected_Report-10.xlsx')
monitoring = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Savings_Deposit_Monitoring_Report-10.xlsx')
#portfolio = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Portfolio_At_Risk_Report-2.xlsx')
#expected = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Expected_Report-2.xlsx')
#monitoring = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Savings_Deposit_Monitoring_Report-2.xlsx')

In [359]:
# Filter the dataset to remove the columns that are not needed in the analysis
portfolio_1 = portfolio[['S/N.','Customer Name','Phone No.','Loan Amount','Principal Bal.','Customer Account Bal.','Disbursement Date','Maturation Date','Product','Linked Account No.','Credit Officer','Total Outst. Prin.','Past Due Prin.','Loan Arrears','Status','Days OverDue','Account No.']]
expected_1 = expected[['Account Name','Payment Amount','Due Date','Account No.']]
monitoring_1 = monitoring[['Account Name','Account No.','NUBAN','Lodgements']]

In [360]:
# workbook = Workbook()
# sheet = workbook.active

# sheet["A1"] = "hello"
# sheet["B1"] = "world!"

# workbook.save(filename="hello_world.xlsx")

In [361]:
# Select the two colums to merge from expected Dataframe
#expected_1 = expected[['Linked Account No.','Payment Amount','Due Date']]
expected_2 = expected_1[['Account No.','Payment Amount','Due Date']]
#Print two rows of the result
expected_2.head(2)

        Account No.  Payment Amount     Due Date
0  4230014100000832         5260.00  17-Sep-2020
1  4230014400000725        87903.34  09-Sep-2020

In [362]:
# merge the expected_1 Dataframe to Portfolio Dataframe and assign them to New_portfolio
new_portfolio = pd.merge(left = portfolio_1, right = expected_2,how ='left', on ='Account No.')

#new_portfolio.to_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/opn_excel3.xlsx')

In [363]:
# Select the two colums to merge from monitoring Dataframe and change column 'Account No.' to 'Linked Account No'
monitoring_1.rename(columns={'Account No.':'Linked Account No.'}, inplace = True)
monitoring_2 = monitoring_1[['Linked Account No.','NUBAN','Lodgements']]

In [364]:
#merge the  selected column in  monitoring_1 to new_portfolio
new_portfolio = pd.merge(left = new_portfolio, right = monitoring_2,how = 'left',  on ='Linked Account No.')

In [365]:
#display first three rows
new_portfolio.head(3)

,S/N.,Customer Name,Phone No.,Loan Amount,Principal Bal.,Customer Account Bal.,Disbursement Date,Maturation Date,Product,Linked Account No.,...,Total Outst. Prin.,Past Due Prin.,Loan Arrears,Status,Days OverDue,Account No.,Payment Amount,Due Date,NUBAN,Lodgements
0,1,"EHINMOSAN, OMODARA STEPHEN",8.131984e+09,50000,50000.0,3478.21,05-Aug-2020,24-Sep-2020,LOAN- DOMESTIC PAY DAY (STAFF),4230011200001035,...,50000.0,0.0,0.0,Performing,0,4230014201001035,51500.0,24-Sep-2020,1.100010e+09,0.0
1,2,"GAFAR, SIKIRU ALAO",7.025270e+09,1077883,1171583.0,60646.57,05-Aug-2020,15-Jun-2021,LOAN- HIRE PURCHASE,4230011100005288,...,1171583.0,0.0,0.0,Performing,0,4230014400005288,117158.3,18-Sep-2020,NaN,NaN
2,3,"AROGBONLO, DEBORAH OMOTAYO",8.033242e+09,2000000,2000000.0,946.57,05-Aug-2020,23-Jun-2021,LOAN- DOMESTIC PAY DAY (STAFF),4230011100004604,...,2000000.0,0.0,0.0,Performing,0,4230014200004604,260000.0,26-Sep-2020,NaN,NaN

In [366]:
# Rename some of the columns
new_portfolio.rename(columns={'Payment Amount':'Expected Payment Amount'}, inplace = True)
new_portfolio.rename(columns={'Due Date':'Expected Due Date'}, inplace = True)
new_portfolio.rename(columns={'Lodgements':'Lodgments month -Date'}, inplace = True)

In [367]:
# Add to new empty colums
new_portfolio['Loan Collection Amount'] = " "
new_portfolio['Savings Amount'] = " "

In [368]:
#display first three rows
new_portfolio.head(3)

,S/N.,Customer Name,Phone No.,Loan Amount,Principal Bal.,Customer Account Bal.,Disbursement Date,Maturation Date,Product,Linked Account No.,...,Loan Arrears,Status,Days OverDue,Account No.,Expected Payment Amount,Expected Due Date,NUBAN,Lodgments month -Date,Loan Collection Amount,Savings Amount
0,1,"EHINMOSAN, OMODARA STEPHEN",8.131984e+09,50000,50000.0,3478.21,05-Aug-2020,24-Sep-2020,LOAN- DOMESTIC PAY DAY (STAFF),4230011200001035,...,0.0,Performing,0,4230014201001035,51500.0,24-Sep-2020,1.100010e+09,0.0,,
1,2,"GAFAR, SIKIRU ALAO",7.025270e+09,1077883,1171583.0,60646.57,05-Aug-2020,15-Jun-2021,LOAN- HIRE PURCHASE,4230011100005288,...,0.0,Performing,0,4230014400005288,117158.3,18-Sep-2020,NaN,NaN,,
2,3,"AROGBONLO, DEBORAH OMOTAYO",8.033242e+09,2000000,2000000.0,946.57,05-Aug-2020,23-Jun-2021,LOAN- DOMESTIC PAY DAY (STAFF),4230011100004604,...,0.0,Performing,0,4230014200004604,260000.0,26-Sep-2020,NaN,NaN,,

In [369]:
# sort the Dataframe by Credit Officer column
new_portfolio.sort_values('Credit Officer', inplace = True)

In [370]:
#delete linked account no column
new_portfolio = new_portfolio.drop(['Linked Account No.'], axis =1)

In [371]:
#insert a new column NUBAN1 at index 1
column_data = ''
new_portfolio.insert(1,'NUBAN1',column_data)

In [372]:
#Assign the values in NUBAN column to NUBAN1 column
new_portfolio['NUBAN1'] = new_portfolio['NUBAN']

In [373]:
#delete NUBAN column
new_portfolio = new_portfolio.drop(['NUBAN'], axis =1)

In [374]:
#delete account no column
new_portfolio = new_portfolio.drop(['Account No.'], axis =1)

In [375]:
# Rename column NUBAN1 to NUBAN
new_portfolio.rename(columns={'NUBAN1':'NUBAN'}, inplace = True)

In [376]:
#add leading zero in phone number columns

new_portfolio['Phone No.'] = new_portfolio['Phone No.'].astype(str).replace('\.0','',regex = True)
new_portfolio['Phone No.']= "0" + new_portfolio['Phone No.']

new_portfolio['Phone No.'].head()

681    09021791435
203    08135615452
177    08137003502
129    08035736095
270    08028502571
Name: Phone No., dtype: object

In [377]:
# replace missing values with appropriate values
new_portfolio['NUBAN'] = new_portfolio['NUBAN'].fillna('#N/A')
new_portfolio['Expected Payment Amount'] = new_portfolio['Expected Payment Amount'].fillna('#N/A')
new_portfolio['Expected Due Date'] = new_portfolio['Expected Due Date'].fillna('#N/A')
new_portfolio['Lodgments month -Date'] = new_portfolio['Lodgments month -Date'].fillna('#N/A')

In [378]:
# create openpyxl workbook and convert the new_portfolio to excel sheet
workbook = Workbook()
sheet_All_Loan = workbook.active

for row in dataframe_to_rows(new_portfolio,index = False, header = True):
    sheet_All_Loan.append(row)

In [379]:
# create a list of account officers to filter out
account_officer = {1:'ADNAN, ALIMAT  IYABO',2:'AMBALI , KANYINSOLA KAFAYAT',3:'AWOGBADE, ELIZABETH ADESOLA',4:'AWOSOPE, OLUWASEUN',5:'LATEEF, MOJEED OLANREWAJU',6:'OBILAGWU , MARYANN NKECHI',
                  7:'OLABISI, BUKOLA',8:'PETU, TEMITAYO  GBEMISOLA',9:'EGUNDUPE, ADENIKE OLUWATOSIN',10:'YAYA, ONOME',11:'AMADI, JOY CHIMDI',12:'LAWAL, ABIODUN SURAT'}

In [380]:
# Create a Function to filter out account officers cbal and add them to excel workbook
def create_Cabal(officer):
    cabal = new_portfolio[new_portfolio['Credit Officer'].str.contains(account_officer[officer])].copy()
    new_sheet = workbook.create_sheet()
    for row in dataframe_to_rows(cabal, index = False, header = True):
         new_sheet.append(row)

In [381]:
for officer in account_officer:
    create_Cabal(officer)
#create_cabal()
workbook.save('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/opn_excel.xlsx')