In [106]:
import pandas as pd
import numpy as np
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [107]:
# Import the three excel files to Dataframe
portfolio = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Portfolio_At_Risk_Report-6.xlsx')
expected = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Expected_Report-5.xlsx')
monitoring = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/Savings_Deposit_Monitoring_Report-5.xlsx')
#portfolio = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Portfolio_At_Risk_Report-2.xlsx')
#expected = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Expected_Report-2.xlsx')
#monitoring = pd.read_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/Savings_Deposit_Monitoring_Report-2.xlsx')

In [108]:
# workbook = Workbook()
# sheet = workbook.active

# sheet["A1"] = "hello"
# sheet["B1"] = "world!"

# workbook.save(filename="hello_world.xlsx")

In [109]:
# Select the two colums to merge from expected Dataframe
#expected_1 = expected[['Linked Account No.','Payment Amount','Due Date']]
expected_1 = expected[['Account No.','Payment Amount','Due Date']]
#Print two rows of the result
expected_1.head(2)

        Account No.  Payment Amount     Due Date
0  4230014100000832          5260.0  19-Jul-2020
1  4230014100000043         38750.0  19-Jul-2020

In [110]:
# merge the expected_1 Dataframe to Portfolio Dataframe and assign them to New_portfolio
new_portfolio = pd.merge(left = portfolio, right = expected_1,how ='left', on ='Account No.')

#new_portfolio.to_excel('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/opn_excel3.xlsx')

In [111]:
# Select the two colums to merge from monitoring Dataframe and change column 'Account No.' to 'Linked Account No'
monitoring.rename(columns={'Account No.':'Linked Account No.'}, inplace = True)
monitoring_1 = monitoring[['Linked Account No.','NUBAN','Lodgements']]

In [112]:
#merge the  selected column in  monitoring_1 to new_portfolio
new_portfolio = pd.merge(left = new_portfolio, right = monitoring_1,how = 'left',  on ='Linked Account No.')

In [113]:
#display first three rows
new_portfolio.head(3)

,S/N.,Account No.,Credit Officer,Customer Name,Disbursement Date,Maturation Date,Product,Linked Account No.,Customer Account Bal.,Loan Amount,...,Total Outst. Prin.,Past Due Prin.,Loan Arrears,Days OverDue,Status,Phone No.,Payment Amount,Due Date,NUBAN,Lodgements
0,1,4230014400005277,"EGUNDUPE, ADENIKE OLUWATOSIN","ALHASSAN, FRIDAY PAUL",14-Jul-2020,24-May-2021,LOAN- HIRE PURCHASE,4230011100005277,31000.00,563200,...,563200.0,0.0,0.0,0,Performing,7.064874e+09,NaN,NaN,1.100053e+09,31000.0
1,2,4230014400005239,"ADNAN, ALIMAT IYABO","AJAYI, ADEREMI SOLOMON",13-Jul-2020,23-May-2021,LOAN- HIRE PURCHASE,4230011100005239,28493.20,523250,...,523250.0,0.0,0.0,0,Performing,8.036940e+09,NaN,NaN,NaN,NaN
2,3,4230014900004504,"AWOSOPE, OLUWASEUN","ABORISADE , OLADIMEJI EMMA",13-Jul-2020,09-Jan-2021,WAIST BAND LOAN,4230011600004504,43255.51,92000,...,92000.0,0.0,0.0,0,Performing,8.092853e+09,4436.39,20-Jul-2020,1.100045e+09,0.0

In [114]:
# Rename some of the columns
new_portfolio.rename(columns={'Payment Amount':'Expected Payment Amount'}, inplace = True)
new_portfolio.rename(columns={'Due Date':'Expected Due Date'}, inplace = True)
new_portfolio.rename(columns={'Lodgements':'Lodgments month -Date'}, inplace = True)

In [115]:
# Add to new empty colums
new_portfolio['Loan Collection Amount'] = " "
new_portfolio['Savings Amount'] = " "

In [116]:
#display first three rows
new_portfolio.head(3)

,S/N.,Account No.,Credit Officer,Customer Name,Disbursement Date,Maturation Date,Product,Linked Account No.,Customer Account Bal.,Loan Amount,...,Loan Arrears,Days OverDue,Status,Phone No.,Expected Payment Amount,Expected Due Date,NUBAN,Lodgments month -Date,Loan Collection Amount,Savings Amount
0,1,4230014400005277,"EGUNDUPE, ADENIKE OLUWATOSIN","ALHASSAN, FRIDAY PAUL",14-Jul-2020,24-May-2021,LOAN- HIRE PURCHASE,4230011100005277,31000.00,563200,...,0.0,0,Performing,7.064874e+09,NaN,NaN,1.100053e+09,31000.0,,
1,2,4230014400005239,"ADNAN, ALIMAT IYABO","AJAYI, ADEREMI SOLOMON",13-Jul-2020,23-May-2021,LOAN- HIRE PURCHASE,4230011100005239,28493.20,523250,...,0.0,0,Performing,8.036940e+09,NaN,NaN,NaN,NaN,,
2,3,4230014900004504,"AWOSOPE, OLUWASEUN","ABORISADE , OLADIMEJI EMMA",13-Jul-2020,09-Jan-2021,WAIST BAND LOAN,4230011600004504,43255.51,92000,...,0.0,0,Performing,8.092853e+09,4436.39,20-Jul-2020,1.100045e+09,0.0,,

In [117]:
# sort the Dataframe by Credit Officer column
new_portfolio.sort_values('Credit Officer', inplace = True)

In [118]:
#delete linked account no column
new_portfolio = new_portfolio.drop(['Linked Account No.'], axis =1)

In [119]:
#insert a new column NUBAN1 at index 1
column_data = ''
new_portfolio.insert(1,'NUBAN1',column_data)

In [120]:
#Assign the values in NUBAN column to NUBAN1 column
new_portfolio['NUBAN1'] = new_portfolio['NUBAN']

In [121]:
#delete NUBAN column
new_portfolio = new_portfolio.drop(['NUBAN'], axis =1)

In [122]:
# Rename column NUBAN1 to NUBAN
new_portfolio.rename(columns={'NUBAN1':'NUBAN'}, inplace = True)

In [123]:
# replace missing values with appropriate values
new_portfolio['NUBAN'] = new_portfolio['NUBAN'].fillna('#N/A')
new_portfolio['Expected Payment Amount'] = new_portfolio['Expected Payment Amount'].fillna('#N/A')
new_portfolio['Expected Due Date'] = new_portfolio['Expected Due Date'].fillna('#N/A')
new_portfolio['Lodgments month -Date'] = new_portfolio['Lodgments month -Date'].fillna('#N/A')

In [124]:
# create openpyxl workbook and convert the new_portfolio to excel sheet
workbook = Workbook()
sheet_All_Loan = workbook.active

for row in dataframe_to_rows(new_portfolio,index = False, header = True):
    sheet_All_Loan.append(row)

In [125]:
# create a list of account officers to filter out
account_officer = {1:'ADNAN, ALIMAT  IYABO',2:'AMBALI , KANYINSOLA KAFAYAT',3:'AWOGBADE, ELIZABETH ADESOLA',4:'AWOSOPE, OLUWASEUN',5:'LATEEF, MOJEED OLANREWAJU',6:'OBILAGWU , MARYANN NKECHI',
                  7:'OLABISI, BUKOLA',8:'PETU, TEMITAYO  GBEMISOLA',9:'EGUNDUPE, ADENIKE OLUWATOSIN',10:'YAYA, ONOME',11:'AMADI, JOY CHIMDI',12:'LAWAL, ABIODUN SURAT'}

In [126]:
# Create a Function to filter out account officers cbal and add them to excel workbook
def create_Cabal(officer):
    cabal = new_portfolio[new_portfolio['Credit Officer'].str.contains(account_officer[officer])].copy()
    new_sheet = workbook.create_sheet()
    for row in dataframe_to_rows(cabal, index = False, header = True):
         new_sheet.append(row)

In [127]:
for officer in account_officer:
    create_Cabal(officer)
#create_cabal()
workbook.save('C:/Users/STELLAS MFB IT/Desktop/Acct.OfficerCollection/Raw files/sample/opn_excel.xlsx')